<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carclub.mapper.CommandMapper">

    <resultMap id="BaseResultMap" type="com.example.carclub.entity.Command">
            <id property="serveid" column="ServeID" jdbcType="VARCHAR"/>
            <id property="vipnum" column="VIPnum" jdbcType="VARCHAR"/>
            <result property="ctime" column="Ctime" jdbcType="DATE"/>
            <result property="ename" column="Ename" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ServeID,VIPnum,Ctime,
        Ename
    </sql>
</mapper>
