<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carclub.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="com.example.carclub.entity.Department">
            <id property="depnum" column="Depnum" jdbcType="VARCHAR"/>
            <result property="depname" column="Depname" jdbcType="VARCHAR"/>
            <result property="minister" column="Minister" jdbcType="VARCHAR"/>
            <result property="depnumber" column="Depnumber" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Depnum,Depname,Minister,
        Depnumber
    </sql>
</mapper>
