<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carclub.mapper.TravelMapper">

    <resultMap id="BaseResultMap" type="com.example.carclub.entity.Travel">
            <id property="travelid" column="TravelId" jdbcType="VARCHAR"/>
            <result property="vipnum" column="VIPnum" jdbcType="VARCHAR"/>
            <result property="traveltime" column="TravelTime" jdbcType="DATE"/>
            <result property="traveladdress" column="TravelAddress" jdbcType="VARCHAR"/>
            <result property="travelprice" column="TravelPrice" jdbcType="DECIMAL"/>
            <result property="carnum" column="CarNum" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        TravelId,VIPnum,TravelTime,
        TravelAddress,TravelPrice,CarNum
    </sql>
</mapper>
