<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carclub.mapper.VipMapper">

    <resultMap id="BaseResultMap" type="com.example.carclub.entity.Vip">
            <id property="vipnum" column="VIPnum" jdbcType="VARCHAR"/>
            <result property="vname" column="Vname" jdbcType="VARCHAR"/>
            <result property="vsex" column="Vsex" jdbcType="VARCHAR"/>
            <result property="vphone" column="Vphone" jdbcType="CHAR"/>
            <result property="vrank" column="Vrank" jdbcType="VARCHAR"/>
            <result property="vmoney" column="Vmoney" jdbcType="INTEGER"/>
            <result property="vipid" column="VIPID" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        VIPnum,Vname,Vsex,
        Vphone,Vrank,Vmoney,
        VIPID
    </sql>
</mapper>
