<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.carclub.mapper.ClassificationMapper">

    <resultMap id="BaseResultMap" type="com.example.carclub.entity.Classification">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="minClassNum" column="min_class_num" jdbcType="VARCHAR"/>
            <result property="minClass" column="min_class" jdbcType="VARCHAR"/>
            <result property="classname" column="classname" jdbcType="VARCHAR"/>
            <result property="handle" column="handle" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,min_class_num,
        min_class,classname,handle
    </sql>
</mapper>
